<footer class="text-light bg-dark">
  <div class="container text-center text-md-left">
    <div class="float-right row justify-content-center mb-3 mb-md-0">
      <div class="col-4 col-md-auto">
        <img src="/images/general/qr_ios.svg" alt="iOS qrCode" width="96">
      </div>
      <div class="col-4 col-md-auto">
        <img src="/images/general/qr_android.svg" alt="Android qrCode" width="96">
      </div>
      <div class="col-12 col-md-auto mt-3 mt-md-0">
        <p>
          <small>
            善用行動掛號掌握您的時間<br>
            掃描左方QR CODE立刻下載聯合醫院APP<br>
            協助您更智慧完成掛號手續<br>
            iOS(左) Android(右)
          </small>
        </p>
      </div>
      <div class="col-12 d-md-none mt-3"><hr style="border-top: 0.1rem solid #F8F9FA;"></div>
    </div>
    <p>
      <small>
        台北市立聯合醫院<br>
        地址：10341 臺北市鄭州路145號<br />
        聯絡電話：(02)2555-3000<br>
        台北市民請撥 1999 轉 888<br>
      </small>
    </p>
  </div>
</footer>