$color-main: #3D5A80;
$color-secondary: #3171CC;
$color-secondary-hover: #285CA4;
$color-secondary-active: #204983;
$color-bright: #FFE100;
$color-bright-hover: #F5D800;
$color-warn: #E63946;
$color-accept: #639A82;
$color-dark: #1C447C;
$color-unaccent: #ECECEC;
$color-light: #F6F6F6;
$color-light-darken: #F6F6F666;
$color-white: #F8F9FA;
$color-disabled: #6C757D;